<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Bus Information</title>
    <link rel="stylesheet" href="/static/businfo.css">
</head>
<body>
    <div class="container">
        <h1>Bus Information</h1>
        <div class="bus-info">
            <div class="bus">
                <h2>Bus 1</h2>
                <p><strong>Route:</strong> Thaliparamba</p>
                <p><strong>Fee Amount:</strong> ₹9000</p>
                <p><strong>Timing:</strong> 8:00 AM - 5:00 PM</p>
                <p><strong>Driver Name:</strong> John Doe</p>
                <p><strong>Contact Number:</strong> +91 1234567890</p>
            </div>
            <div class="bus">
                <h2>Bus 2</h2>
                <p><strong>Route:</strong> Trikaripur</p>
                <p><strong>Fee Amount:</strong> ₹6000</p>
                <p><strong>Timing:</strong> 8:30 AM - 4:30 PM</p>
                <p><strong>Driver Name:</strong> Jane Smith</p>
                <p><strong>Contact Number:</strong> +91 9876543210</p>
            </div>
            <div class="bus">
                <h2>Bus 3</h2>
                <p><strong>Route:</strong>Pazhayangadi</p>
                <p><strong>Fee Amount:</strong> ₹9000</p>
                <p><strong>Timing:</strong> 7:45 AM - 5:45 PM</p>
                <p><strong>Driver Name:</strong> Mike Johnson</p>
                <p><strong>Contact Number:</strong> +91 1357924680</p>
            </div>
            <div class="bus">
                <h2>Bus 4</h2>
                <p><strong>Route:</strong>Pazhayangadi</p>
                <p><strong>Fee Amount:</strong> ₹9000</p>
                <p><strong>Timing:</strong> 7:45 AM - 5:45 PM</p>
                <p><strong>Driver Name:</strong> Emily Brown</p>
                <p><strong>Contact Number:</strong> +91 2468013579</p>
            </div>
            <div class="bus">
                <h2>Bus 5</h2>
                <p><strong>Route:</strong> Thaliparamba</p>
                <p><strong>Fee Amount:</strong> ₹9000</p>
                <p><strong>Timing:</strong> 8:00 AM - 5:00 PM</p>
                <p><strong>Driver Name:</strong> Olivia Green</p>
                <p><strong>Contact Number:</strong> +91 9988776655</p>
            </div>
            <div class="bus">
                <h2>Bus 6</h2>
                <p><strong>Route:</strong> Payyannur</p>
                <p><strong>Fee Amount:</strong> ₹5000</p>
                <p><strong>Timing:</strong> 8:30 AM - 4:30 PM</p>
                <p><strong>Driver Name:</strong> David White</p>
                <p><strong>Contact Number:</strong> +91 1122334455</p>
            </div>
            
            
        </div>
    </div>
</body>
</html>