<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bus Registration home</title>
<link rel="stylesheet" href="/completed/static/new assets/homestyles.css">
</head>
<body>


      <!-- header section starts -->

    <header class="header">

      <a href="#" class="logo">Geekocs</a>
      <div class="button">
        <a href="/completed/templates/pass.html" class="btn">Pass</a>
      </div>
        


    </header>

    <section id="project" class="projects">
      <div class="content">
        <h1 class="title">College bus Registration</h1>
         

      <div class="project-container">
          <div class="project">
              <h2>Bus Info</h2>
              
              <div class="image">
                  <a href="/completed/templates/businfo.html"><img src="/completed/static/new assets/icons8-bus-50.png" alt="" ></a>
                  
              </div>
              
          
          </div>
          <div class="project">
              <h2>Bus Register</h2>
              
              <div class="image">
                  <a href="/completed/templates/busreg.html"><img src="/completed/static/new assets/icons8-register-50.png" alt="" ></a>
                  
              </div>
          </div>
          <div class="project">
              
              <h2>payment</h2>
              
              <div class="image">
                  <a href="/completed/templates/payment.html"><img src="/completed/static/new assets/icons8-payment-50.png" alt="" ></a>
              </div>
          </div>
          <div class="project">
              
            <h2>help</h2>
            
            <div class="image">
                <a href="/completed/templates/contact.html"><img src="/completed/static/new assets/icons8-help-50.png" alt="" ></a>
            </div>
        </div>


          
      </div>
  </div>
  </section>





</body>
</html>